/*
*
**** General
*
*/
*, :before, :after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
body {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 100vh;
    font-family: Lora, sans-serif;
    color: #EEF0F3;
    background-color: #31474f;
}
.site-content nav a, footer a {
    color: #EEF0F3;
    text-decoration: none;
}
.alert {
    margin: 1rem 1rem 0 1rem;
    padding: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}
.error {
    background-color: #f77669;
}
.success {
    background-color: #9cd845;
}
/*
*
**** Header
*
*/
header {
    width: 20rem;
    padding: 0 1rem;
    background-color: #253b44;
    text-align: center;
}
.header-name {
    color: #f77669;
    font-size: 2.5rem;
}
.header-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.header-biography .book-name {
    line-height: 3rem;
    font-size: 1.25rem;
}
.header-social a {
    color: #EEF0F3;
    margin: 1rem;
}
.header-social .fa-twitter-square:hover {
    color: #1DA1F2;
}
.header-social .fa-facebook-square:hover {
    color: #4267B2;
}
/*
*
**** Site-content
*
*/
.site-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}
nav {
    margin: 2rem auto;
    font-size: 1.5rem;
}
nav a {
    margin: 1rem;
}
nav a:hover {
    color: #f77669;
}
main {
    flex: 1;
}
footer {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
.copyright {
    margin: auto;
}
/*
*
**** main-home
*
*/
.main-home {
    margin: auto;
    width: 50rem;
}
.main-home h2 {
    color: #f77669;
    text-align: center;
}
.welcome-message {
    text-align: center;
}
.post-excerpt {
    display: flex;
    max-width: 50rem;
    align-items: center;
    background-color: #253b44;
    padding: 0.5rem;
    margin: 1rem;
}
.excerpt-title {
    font-size: 1.5rem;
    margin-bottom: 0;
}
.excerpt-content {
    flex: 1;
    margin: 0 1rem;
    padding: 0 0.5rem;
    border-right: 2px solid #4a6a77;
    border-left: 2px solid #4a6a77;
    text-align: justify;
}
.excerpt-link-to-post a {
    text-decoration: none;
    color: #EEF0F3;
}

/*
*
**** main-allposts
*
*/
.main-allposts {
    text-align: center;
    max-width: 50rem;
    margin: auto;
}
.main-allposts h2 {
    color: #f77669;
}
.main-allposts .posts-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.main-allposts .post {
    background-color: #253b44;
    margin: 1rem;
    padding: 0.5rem;
    max-width: 20rem;
    min-height: 12rem;
    display: flex;
    flex-direction: column;
    transition: transform .3s ease;
}
.main-allposts .post:hover {
    transform: scale(1.05);
}
.main-allposts .post-title {
    font-size: 2rem;
    flex: 2;
}
.main-allposts .post-infos {
    flex: 1;
    display: flex;
}
.post-infos .post-date {
    flex: 1;
    margin-right: 2px;
    border: 2px solid black;
}
.post-infos .post-read {
    flex: 1;
    margin-left: 2px;
    border: 2px solid black;
}
.post-infos .post-read a{
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: #EEF0F3;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
*
**** main-singlepost
*
*/
.main-singlepost {
    margin: auto;
    max-width: 70rem;
    padding: 1rem;
}
.main-singlepost h2 {
    text-align: center;
}
.singlepost-post div {
    text-align: justify;
}
.singlepost-post-date {
    text-align: right;
}
.singlepost-comments {
    display: flex;
    background-color: #253b44;
    margin-top: 2rem;
    padding: 1rem;
}
.comment-form, .comments-container {
    margin: 0 0.5rem;
}
.comment-form {
    border-right: 2px solid #4a6a77;
    padding-right: 0.5rem;
}
.comments-container div p:first-child {
    border-top: 1px solid #4a6a77;
    padding-top: 0.5rem;
}
.report-comment {
    text-align: right;
}
.report-comment a {
    text-decoration: none;
    color: inherit;
}
/*
*
**** main-contact
*
*/
.main-contact {
    text-align: center;
    margin: auto;
    width: 50rem;
}
.main-contact h2 {
    color: #f77669;
}
.main-contact form fieldset {
    margin: 2rem 0;
}
.main-contact form fieldset:first-child input {
    margin: 0.5rem 0.5rem 0 0.5rem;
}
.main-contact form fieldset:last-child input {
    margin: 0.5rem 0.5rem 0 0.5rem;
}
/*
*
**** main-connect
*
*/
.main-connect {
    text-align: center;
    margin: auto;
    width: 30rem;
}
.main-connect h2 {
    color: #f77669;
}
.main-connect form {
    padding: 1rem;
    border: 2px solid gray;
}

/***************/
/* Admin pages */
/***************/

.main-admin, .main-reported, .main-allcomments {
    text-align: center;
    margin: auto;
    width: 50rem;
}
.main-admin nav {
    font-size: 1.25rem;
}
.main-admin nav, .main-admin section, .main-reported section, .main-allcomments section {
    background-color: #253b44;
    padding: 0.5rem;
}
.main-admin table, .main-reported table, .main-allcomments table {
    margin: auto;
    width: 100%;
}
.main-admin table td, .main-reported table td, .main-allcomments table td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.main-admin table td a, .main-reported table td a, .main-allcomments table td a {
    text-decoration: none;
    color: inherit;
}
.main-newpost, .main-editpost {
    width: 70vw;
    margin: auto;
}
.main-newpost form, .main-editpost form {
    text-align: center;
}